.maplibregl-ctrl button.maplibregl-ctrl-fullscreen .maplibregl-ctrl-icon {
  background-image: url('../icon/ctrl-fullscreen.svg');
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
  background-image: url('../icon/ctrl-zoom-in.svg');
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
  background-image: url('../icon/ctrl-zoom-out.svg');
}

.maplibregl-ctrl button.maplibregl-ctrl-shrink .maplibregl-ctrl-icon {
  background-image: url('../icon/ctrl-shrink.svg');
}

.maplibregl-ctrl-group button {
  padding: 0.5rem;
  width: unset;
  height: unset;
}

.maplibregl-ctrl-bottom-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  z-index: unset;
}

.maplibregl-ctrl button .maplibregl-ctrl-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.maplibregl-ctrl-group {
  border-radius: 0.5rem;
}

.maplibregl-ctrl button:not(:disabled):hover {
  background-color: unset;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 0.5rem 1rem;
}

.maplibregl-ctrl-scale {
  margin-left: 4rem !important;
  margin-bottom: 1rem !important;
}

.maplibregl-ctrl-bottom-left {
  margin-bottom: 0.5rem;
}

.maplibregl-ctrl-group button + button {
  border: none !important;
}

.maplibregl-ctrl:has(.maplibregl-ctrl-zoom-in)::after {
  content: "";
  display: block;
  position: relative;
  height: 0;
  background-color: #fff;
  border-top: 1px solid #e5e8eb;
  top: -39px;
  width: 1.5rem;
  margin: 0 auto;
}

.maplibregl-ctrl-scale {
  height: 1.5rem;
  font-family: 'IRANSansXFaNum';
  direction: ltr;
  padding: 4px 8px;
  line-height: normal;
  font-size: 12px;
  font-weight: 500;
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: 0 0 4px rgba(17,20,24,0.2);
}

.maplibregl-canvas-container {
  width: 100% !important;
}

.maplibregl-canvas {
  width: 100% !important;
  cursor: url('../icon/map-cursor.svg'), pointer;
}

.point-custom-popup .maplibregl-popup-content {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #2b2b2b;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.maplibregl-popup {
  font-family: 'IRANSansXFaNum';
  max-width: none !important;
}

.maplibregl-popup-tip {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(56, 62, 71, 0.6) !important;
  border-bottom: 0;
}

.bg-red{
  background-color: #dc3545 !important;
}
